nav {
  background-color: #4056A1;
  width:100%;
  display: flex;
  justify-content: space-between;
  height:120px;
  align-items: center;
  flex-direction: row;
  /* padding-top: 100px; */
  position:fixed;
  top:0; 
}
.textleft{
  font-family: Bungee;
  color: #fff;
  margin-left: 1.5em;
}
.textright{
  font-family: Bungee ;
  color: #fff;
  text-align: right;
}
.left{
  display:flex;
}
.right{
  color: red;
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

