
/* textarea{
  width: 75%;
  
}
label{
  justify-content:left
} 

div{
  justify-content: stretch;
  text-align: justify;
}
form{
  display: flex;
  flex-direction: column;
}
.counter{
  text-align: right;
} */

form{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}
textarea{
  width: 75%;
  background-color: #f4f1ec;
  border:0;
  border-bottom: 1px solid black;
}
div.thisbox{
  display:flex;
  justify-content: space-between;
  width: 75%;
}
button{
  font-family: Bungee;
  color: white;
  background-color: #4056A1;
  margin: 10px
}
.counter{
  padding: 10px;
}
.composetweet{
  margin-left: 12.5%;
}